body {
  background-color: #efeee7;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}

header {
  background-color: #333333;
  margin: 0;
  padding: 10px;
}

h1 {
  color: #eee;
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: left;
  margin: 25px;
}

h3 {
  font-size: 20px;
  text-align: left;
  margin: 25px;
}

a {
  color: #d21034;
}

p {
  margin-left: 25px;
}

.container {
  margin: 0 auto;
  padding: 10px;
  line-height: 1.5;
}

#main-bio {
  float: left;
  width: 70%;
}

#contact-info {
  float: left;
  width: 30%;
}

#bio-image {
  float: left;
  width: 200px;
  margin: 25px;
}
