body {
  background-color: #3282b8 !important;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}

nav {
  background-color: #1b262c;
}

article {
  margin-bottom: 80px !important;
}

h1 {
  color: #eee;
  font-size: 2.5rem;
  text-align: left;
  padding: 0px;
  margin-left: 15px;
}

h2 {
  font-size: 2rem;
  text-align: left;
  margin: 25px;
}

.about-me {
  margin-left: 14px;
}

.container {
  margin: 20px auto;
  padding: 10px;
  line-height: 1.5;
  background-color: #bbe1fa;
  border-radius: 10px;
}

.dropdown-divider {
  border-top: 2px solid #0f4c75 !important;
}

.carousel {
  width: 200px;
  float: left;
  margin: 8px 14px;
}

.bio-image {
  width: 200px;
  float: left;
}

.portfolio-image {
  width: 200px;
}

.center-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  text-align: center;
  background-color: #364e68;
  color: #deecfc;
}

.col-auto {
  text-align: center;
}

.img-tag {
  margin-bottom: 10px;
}

.job-icon {
  font-size: 2rem;
  text-align: center;
}

.sticky-footer {
  font-size: 1.2rem;
  text-align: center;
  background-color: #1b262c;
  bottom: 0;
  position: fixed;
  width: 100%;
  color: #6c757d;
}

.card {
  width: 15rem;
  margin: 1rem;
  border: 1px solid #1b262c !important;
}

.row {
  justify-content: space-between;
}

i {
  font-size: 1.2rem;
}

.btn-style {
  border: 1px solid #1b262c !important;
  margin: 0.5rem;
  background-color: #1b262c !important;
  color: #fff !important;
}

.btn-style:hover {
  background-color: #3282b8 !important;
}

.card-img-top {
  border-bottom: 1px solid #1b262c;
}
